<h1>NG SELECT DROPDOWN</h1>
<div style="margin-top: 10px; margin-bottom: 40px; width: 400px;">
    <p>single select</p>
    <ng-select-dropdown [options]="options" [multiple]="false" [placeHolder]="'Select single'"></ng-select-dropdown>
</div>
<div style="margin-top: 10px; margin-bottom: 40px; width: 400px;">
    <p>multiple select</p>
    <ng-select-dropdown [options]="options" [multiple]="true" [placeHolder]="'Select multiple'"></ng-select-dropdown>
</div>

<div style="margin-top: 10px; margin-bottom: 40px; width: 400px;">
    <p>Group mode</p>
    <ng-select-dropdown [options]="group" [multiple]="false" [group]="true" [placeHolder]="'Select with group options'"></ng-select-dropdown>
    <ng-select-dropdown [options]="group" [multiple]="true" [group]="true" [placeHolder]="'Select with group options'"></ng-select-dropdown>
</div>